/* 全体 */
/* PC表示 */
.Container {
  max-width: 1280px;
  margin: 0 auto;
  font-family: "Meiryo UI",sans-serif;
  background: #2B2B2B;
  color: #FFFFFF;
  font-size: 2.25rem;
}

/* モバイル表示 */
@media(max-width:520px){
  html {
    font-size: 70%;
  }
}

/* リンクの装飾を除去 */
a {
  text-decoration: none;
}

/* header */
/* 背景画像 */
header {
  width: 100%;
  height: 150px;
  background: url("../images/headImage.jpg") no-repeat;
  background-size: 100% 150px;
}

/* ロゴ */
.logo {
  width: 310px;
  margin: 0 0 0 30px;
}

.logo img {
  height: 100px;
}

/* main */
/* 利用規約 */
main {
  margin: 0 30px;
}

h1 {
  text-align: center;
  font-size: 3.5rem;
  letter-spacing: 0.8rem;
}

h2 {
  font-size: 2.6rem;
  margin: 80px 0 0 0;
}

/* footer */
/* リンク */
#footer_link {
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
}

#footer_link p {
  color: #FFFFFF;
  padding-left: 20px;
}

